@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{    margin: 0;
    padding: 0;
}
.navbar{
    background-color: rgb(14, 11, 11);
    color: white;
    height: 4vw;
    font-size: 3vh;
    text-align: -webkit-left;
}


nav ul{
    list-style-type: none;
}

nav ul li{
    padding: 12px;
}

.gamecontainer{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    padding: 50px;
    padding-top: 100px;
    height: 40vw;
    background-image: url(bg.jpg);
    background-size: cover;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
    
}

.box{
    border: 3px solid brown;
    font-size: 6vw;
    display: flex;
    justify-content: center;

}
.boxtext{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameinfo{
    font-size: 1.6vw;
    padding-left: 150px;
}
.gameinfo h1{
    padding: 10px;
    font-family: 'Pacifico', cursive;
}
.bt{
    padding: 15px;
}
.info{
    font-size: 1.8vw;
    font-family: 'Pacifico', cursive;
}
#reset{
    font-size: 1.3vw;
    padding: 3px 15px;
    border-radius: 10px;
    margin-left: 15px;
    background-color: rgb(114, 74, 74);
}
#reset:hover{
    color: white;
}
#nextRound{
    font-size: 1.3vw;
    padding: 3px 15px;
    border-radius: 10px;
    margin-left: 15px;
    background-color: rgb(114, 74, 74);
}
#nextRound:hover{
    color: white;
}
#newGame{
    font-size: 1.3vw;
    padding: 3px 15px;
    border-radius: 10px;
    margin-left: 15px;
    background-color: rgb(114, 74, 74);
}
#newGame:hover{
    color: white;
}
.box:hover{
    background-color: rgb(204, 191, 191);
}
th{
    border: 2px solid black;
    padding: 5px;
    
}
table{
    margin: auto;
}
h2{
    text-align: center;
    padding: 10px;
    /* color: rgb(44, 17, 17); */
}

.bb{
    border-bottom: 0px;
}
.bl{
    border-left: 0px;
}
.br{
    border-right: 0px;
}
.bt{
    border-top: 0px;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
    background-blend-mode: multiply;
}